*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 16pt

body
  background: #fbf7da

main
  display: flex
  flex-wrap: wrap
  padding-top: 5vh
  > *
    flex: 1 0 50%
    padding: 0 5%
  > div
    padding-right: 2.5%
  > article
    padding-left: 2.5%

main > div > img
  width: 100%

article
  > *
    margin-bottom: 0.5rem
  h1
    font-size: 2rem
  h2
    font-size: 1.5rem
    font-style: italic
  .creator
    label
      font-weight: 600
  ul
    margin-left: 1rem
    li
      margin-bottom: 0.25rem
