name: Deploy

on:
  push:
    tags:
      - 'v*.*.*'

jobs:

  ghpublish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup system dependencies
        run: |
          sudo apt-get install autoconf-archive
      - name: Configure
        run: |
          echo "VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV
          echo "${GITHUB_REF#refs/*/v}" > .tarball-version
          ./bootstrap.sh
          ./configure --without-{bash,fish,zsh}-completion-dir --disable-dependency-checks
      - name: Build source package
        run: |
          make dist
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: casile-${{ env.VERSION }}
          path: casile*-${{ env.VERSION }}.zip
      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: casile-${{ env.VERSION }}.md
          files: |
            casile-${{ env.VERSION }}.zip
            casile-${{ env.VERSION }}.tar.xz
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Publish Docker Image to GH Pakcages
        run: |
          make docker-build-push
        env:
          DOCKER_REGISTRY: docker.pkg.github.com
          DOCKER_REPO: ${{ github.repository }}/casile
          DOCKER_TAG: ${{ env.VERSION }}
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ github.token }}
